body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    height: 100vh;
    color: #fff;
    text-transform: uppercase;
    gap: 15px;
}

    