
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-BlackItalic.ttf');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
} 


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 100vh;
}

