:host div{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px #00000025;
  background: var(--cor, #0774C5);
  color: var(--cor-do-texto, #fff);
}


:host div.moderna{
  background: red!important;
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
}

:host div.circular{
  border-radius: 1rem;
}

::slotted(dwc-texto){
  color: inherit;
}

