:host{
  display: block;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  text-align: justify;
  padding: 10px;
  line-height: 1.4rem;
  font-weight: 400;
}

:host p{
  margin: 0;
  padding: 0;
  font-size: inherit;
}